spring:
    application:
        name: irkdoska

    datasource:
        url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
        driver-class-name: org.postgresql.Driver

    jpa:
        hibernate:
            ddl-auto: create-drop
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect

    config:
        import: application-secrets.yaml

    jackson:
        time-zone: UTC

    servlet:
        multipart:
            max-file-size: 20MB
            max-request-size: 20MB

logging:
    level:
        root: info

minio:
    url: ${MINIO_URL}
    access-key: ${MINIO_ACCESS_KEY}
    secret-key: ${MINIO_SECRET_KEY}
    bucket: ${MINIO_BUCKET}
    public-url: ${MINIO_PUBLIC_URL}